
body{
    max-width: 100%;
    display: flex;
    background:linear-gradient(#615dad,#ffc8da);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 100vmax;

}
.container{
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    width: 40%;
}

.text{
    background-color:#283e50;
    margin: 0 auto;
    color: #fff;
    width: 80%;
}
/*zóna pro responzivilitu textu*/
@media screen and (min-width: 601px) {
    h1 {
        font-size: 35px;
      }
    p {
      font-size: 15px;
    }
    a {
        font-size: 15px;

      }
    li {
        font-size:15px;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
        font-size:20px;
      }
    p {
      font-size:9px;
    }
    a {
        font-size:9px;
      }
    li {
        font-size:9px;
    }
  }

  /*zóna pro zbytek stylování*/
p {

    margin:0.7vw 2vw 0.7vw 2vw;
    padding-bottom: 0.8vw;
    font-family: sans-serif;

}

h1{
    margin: 0 auto;
    font-family: "Lobster";
    padding-top:0.8vw;
    font-weight: 100;
}

img{
    width: 80%;
    margin: 0 auto;
    display: block;
}
.tic-toc{
    border-radius: 8px 8px 0 0;

}

.buttons{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}



.rules{
    background-color:#1fcca4;
    border-bottom: 0.1vw solid #283e50;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.rules:hover {
    background-color: #1cbb96;
}

.start_game{
    position: relative;
    background-color: #0197f6;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.start_game:hover{
    background-color:#0090e9;
}
a {
  text-decoration: none;
  color: #fff;
  height:4vw;
  font-family: sans-serif;
}
/*specifikace stránky pravidla*/
.list-pravidla{
    text-align:left;
}

.list-pravidla li{
    margin-bottom:10px;
    margin-right: 10px;
    font-family: sans-serif;
}

.game-symbol{
    filter: invert();
    width:1em;
    height:1em;
    display: inline;
}
.instruction{
    font-style: italic;
}

