body{
    width: 100%;
    background:linear-gradient(#615dad,#ffc8da);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vmax;
}
.container{
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    width: 50%;
}

.text{
    background-color:#283e50;
    margin: 0 auto;
    color: #fff;
    width: 60%;
}

p {
    font-size:2vw;
    margin:10px;
    padding-bottom: 20px;
    font-family: sans-serif;
}

h1{
    margin: 0 auto;
    font-family: "Lobster";
    padding-top:20px;
    font-size:5vw;
    font-weight: 100;
}

img{
    margin: 0 auto;
    display: block;
    width: 60%;
    border-radius: 8px 8px 0 0;

}

button{
    width: 100%;
    color: #fff;
    border: none;
    height:6.5vw;
    font-size:2vw;
}

hr{
    border-top: 0.0001em solid #283e50;
    margin: 0 auto;
    border-bottom: none;
}

.rules{
    background-color:#1fcca4;
}

.rules:hover {
    background-color: #1cbb96;
}

.start_game{
    position: relative;
    background-color: #0197f6;
}

.start_game:hover{
    background-color:#0090e9;
}

